.section.section-large#secondPage

  .hero-header
    %p
      Every youtube challenge ever
      %br
      %span.sub
        Nattional lottery good causes

  .overlay
  .header-image{ :style => "background-image: url('/assets/img/case-studies/big-and-bold/header-img.png')"}
