.section#seventh
  .sub-section
    .outer
      .middle
        .inner
          .row
            .twelve.columns
              %h1.blue
                The Results
          .row.wide-row
            .result-block.pink
              %h5 Views:
              %p 2.4m
            .result-block.blue
              %h5 Comments:
              %p 4k
            .result-block.white
              %h5 Likes:
              %p 146k
            .result-block.pink
              %h5 Behind the scenes views:
              %p 10k

