.section#seventh
  .sub-section
    .outer
      .middle
        .inner
          .row
            .twelve.columns
              %h1
                The Results
          .row
            .three.columns
              .result-block
                %p Views: 2.4m
            .three.columns
              .result-block
                %p Comments: 4k
            .three.columns
              .result-block
                %p Likes: 146k
            .three.columns
              .result-block
                %p Behind the scenes views: 10k

