.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .eight.columns
              %p.highligh-blue
                %b Team GB:
                Brazil. Olympic Preparation Camp. Team GB athletes. Make stuff?
              %p.highligh-pink
                %b Tanjun:
                Yes, yes...aaaand yes!
              %p.highligh-blue
                %b Team GB:
                Cool! You’ll have very limited access and time with the athletes so you’ll need to be super reactive and think on your feet! Do monkeys even have feet?
              %p.highligh-pink
                %b Tanjun:
                Yes! Yes we do! Thank you very much!
              %p.highligh-blue
                %b Team GB:
                Apologies! No offence intended. Anyway, swing on down to Belo Horizonte and we’ll see you there.
              %p.highligh-pink
                %b Tanjun:
                *cue swinging*
