.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 6%
                %p
                  Increase Facebook
                  %br Engagement
            .result-block.white
              .result
                %h5 35%
                %p
                  Increase Twitter
                  %br Engagement
            .result-block.blue
              .result
                %h5 60k
                %p
                  Short form
                  %br views
            .result-block.white
              .result
                %h5 2m
                %p
                  BBC Rating
                  %br Views

