.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 2m
                %p
                  Views
                  %br BBC Two
            .result-block.white
              .result
                %h5 4k
                %p
                  Short Form
                  %br Views
            .result-block.blue
              .result
                %h5 146k
                %p
                  Twitter
                  %br Engagement
            .result-block.white
              .result
                %h5 10k
                %p
                  Facebook
                  %br Views

