.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-head
      .mobile-header.blue-bg
        %h1
          The Solution
      .outer
        .middle
          .inner
            .row
              .tablet-header.blue-bg
                %h1
                  The Solution
            .row
              .seven.columns
                %h2
                  Mission Impossible
                %p
                  With all athletes at the prep camp just a couple of weeks away from the biggest event of their lives in Rio, we had next to no time with the athletes.

                %p
                  With just a two man crew we we’re able to create a suite of content that for the first time brought Team GB supporters behind the scenes of a Olympic preparation camp.

                %h2
                  Short and Sweet
                %p
                  To enable quick content executions that were flexible and reactive, we built a number of short form pieces, supported by exclusive behind the scenes imagery.

              .five.columns
                .embed-container.squash.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/214290937?background=1", :webkitallowfullscreen => ""}

  .sub-section.sub-section-desktop
    = haml :'work-sections/bolt', :locals => { :header => true, :text => "The Solution" }

    .blue-block.blue-block-head
      .outer
        .middle
          .inner
            .row
              .seven.columns
                %h2
                  Mission Impossible
                %p
                  With all athletes at the prep camp just a couple of weeks away from the biggest event of their lives in Rio, we had next to no time with the athletes.

                %p
                  With just a two man crew we we’re able to create a suite of content that for the first time brought Team GB supporters behind the scenes of a Olympic preparation camp.

                %h2
                  Short and Sweet
                %p
                  To enable quick content executions that were flexible and reactive, we built a number of short form pieces, supported by exclusive behind the scenes imagery.

              .five.columns
                .embed-container.squash.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/214290937?background=1", :webkitallowfullscreen => ""}

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/214291312?background=1", :webkitallowfullscreen => ""}
                .sub.media-mobile
                  Our bottle flip challenge really got people talking! Was it real or not! A huge debate which drove engagment.

              .seven.columns

                %p
                  All of the imagery was supported by snapshot quotes from team members and athletes.
                  %br This built the story of the team behind the team.

                %h2
                  Go Big, then Go Home
                %p
                  We pulled together the whole piece into one film. This film was broadcast on primetime Saturday night TV on BBC Two.

                %p
                  The first evening of competition at the Rio Olympics. We received incredible feedback from the BBC commissioner and then we headed off to the dark depths of the Amazon to celebrate!

                %p
                  Obrigado Brasil

  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/214291312?background=1", :webkitallowfullscreen => ""}
                .sub
                  Our bottle flip challenge really got people talking! Was it real or not! A huge debate which drove engagment.

              .seven.columns

                %p
                  All of the imagery was supported by snapshot quotes from team members and athletes.
                  %br This built the story of the team behind the team.

                %h2
                  Go Big, then Go Home
                %p
                  We pulled together the whole piece into one film. This film was broadcast on primetime Saturday night TV on BBC Two.

                %p
                  The first evening of competition at the Rio Olympics. We received incredible feedback from the BBC commissioner and then we headed off to the dark depths of the Amazon to celebrate!

                %p
                  Obrigado Brasil





















