.section.pink#whoWeAreNav
  .sub-section
    .mobile-header.white-bg
      %h1
        Who we are
    .row.desktop-header
      .ten.columns
        %h1.header
          Who we are
    .outer
      .middle
        .inner
          .row
            .ten.columns
              %p
                We are
                %b.text-highlight digital film content creators
                We are not a PR agency, nor are we ex TV broadcasters.

              %p
                We are
                %b.text-highlight digital natives
                We live and breathe social content. 
                We are led by story, not by production.

              %p
                We aren't
                %b.text-highlight motivated
                by profit margins, industry awards or owning swanky Shoreditch offices, we just want to make great stuff and
                %b.text-highlight tell great stories
                and we would love to help tell yours.

            .ten.columns
              %a.button.button-center{:href => "#getInTouch"}
                Get in touch
