.navigation.secondary-navigation{ :role => "custom-dropdown"}
  %input#button{:type => "checkbox"}/
  %label{:for => "button", :onclick => ""}

  .mobile-nav
    %ul.nav
      %a.mobile-nav-link{:href => "/"}
        %li
          %img.nav-back{:src => "../assets/img/back.png"}


  .desktop-nav
    %ul.nav#nav1
      %li
        %a{:href => "/"}
          %img.nav-back{:src => "../assets/img/back.png"}
