.section.pink#sixthPage
  .sub-section
    .mobile-header.white-bg
      %h1
        Who we work with
    .outer
      .middle
        .inner
          .row
            .ten.columns
              %h1.header
                Who we work with
          .row
            .twelve.columns
              .brand
                %img{:src => "assets/img/brands/lottery.png"}
              .brand
                %img{:src => "assets/img/brands/tri.png"}
              .brand
                %img{:src => "assets/img/brands/teamgb.png"}
              .brand
                %img{:src => "assets/img/brands/itu.png"}
          .row
            .twelve.columns
              .brand
                %img{:src => "assets/img/brands/panasonic.png"}
              .brand
                %img{:src => "assets/img/brands/nectar.png"}
              .brand
                %img{:src => "assets/img/brands/camelot.png"}
              .brand
                %img{:src => "assets/img/brands/uksport.png"}
