.section#getInTouch
  .sub-section
    .row.wide-row
      .twelve.columns.section-colums
        .bolt-one-divider.divider-top.divider-pink
          .row
            .ten.columns
              %h1.header
                Get in touch
        .mobile-header.pink-bg
          %h1
            Get in touch
    .pink-block
      .row.footer-section
        .four.columns
          %h2
            Contacts us on
          %p
            Tel: 020 72414432
            %br
            Mob: 07855259898
            %br
            Email: hello@tanjunmedia.com
        .four.offset-by-four.columns
          .social
            %a{:href => "mailto:hello@tanjunmedia.com"}
              %img{:src => "/assets/img/social/social1.png"}
            %a{:href => "https://www.facebook.com/tanjunmedia/", :target => "_blank"}
              %img{:src => "/assets/img/social/social2.png"}
            %a{:href => "https://www.instagram.com/tanjunmediauk/", :target => "_blank"}
              %img{:src => "/assets/img/social/social3.png"}
            %a{:href => "https://vimeo.com/tanjunmedia", :target => "_blank"}
              %img{:src => "/assets/img/social/social4.png"}
          %p.right
            COMPANY NO: 10184325
      .row.footer-section
        .four.columns
          %h2
            Find us at
          %p
            TANJUN MEDIA, UNIT 5,
            %br
            1C SHELFORD PLACE, LONDON, N16
        .four.offset-by-four.columns
          .footer-logo
            %img{:src => "/assets/img/CombinationMarkV1White.png"}
