.section.section1
  .logo
    %img(src='/assets/img/CombinationMarkV1Dark.png')

  .hero-footer
    .triangle.triangle-up.triangle-right
      .triangle-after.triangle-up-after.triangle-right-after
    .triangle.triangle-up.triangle-left
      .triangle-after.triangle-up-after.triangle-left-after
