.navigation{ :role => "custom-dropdown"}
  %input#button{:type => "checkbox"}/
  %label{:for => "button", :onclick => ""}

  .mobile-nav
    %ul.nav
      %a.mobile-nav-link{:href => "#thirdPage/1"}
        %li Who we are
      %a.mobile-nav-link{:href => "#thirdPage/1"}
        %li Who we are
      %a.mobile-nav-link{:href => "#thirdPage/1"}
        %li Who we are
      %a.mobile-nav-link{:href => "#thirdPage/1"}
        %li Who we are
      %a.mobile-nav-link{:href => "#thirdPage/1"}
        %li Who we are


  .desktop-nav
    %ul.nav#nav1
      %li
        %a{:href => "#thirdPage/1"} Who we are
      %li
        %a{:href => "#fourthPage/1'"} What we deliver

    %ul.nav.navlogo
      %li
        %a{:href => "#secondPage/1"}
          %img(src='/assets/img/CombinationMarkV1Dark.png')

    %ul.nav#nav2
      %li
        %a{:href => "#thirdPage/1"} Who we work with
      %li
        %a{:href => "#fourthPage/1'"} Get in touch
