.navigation.nav-js{ :role => "custom-dropdown"}
  %input#button{:type => "checkbox"}/
  %label{:for => "button", :onclick => ""}

  .mobile-nav
    .outer
      .middle
        .inner
          %ul.nav
            %a.mobile-nav-link{:href => "#ourReel"}
              %li Our reel
            %a.mobile-nav-link{:href => "#whoWeAre"}
              %li Who we are
            %a.mobile-nav-link{:href => "#whatWeCreate"}
              %li.extended What we create
            %a.mobile-nav-link{:href => "#whoWeWorkWith"}
              %li Our Clients
            %a.mobile-nav-link{:href => "#meetTheTeam"}
              %li Our team
            %a.mobile-nav-link{:href => "#getInTouch"}
              %li Get in touch
            .mobile-nav-link
              %li.social
                %a{:href => "mailto:hello@tanjunmedia.com"}
                  %img{:src => "/assets/img/social/social1.png"}
                %a{:href => "https://www.facebook.com/tanjunmedia/", :target => "_blank"}
                  %img{:src => "/assets/img/social/social2.png"}
                %a{:href => "https://www.instagram.com/tanjunmediauk/", :target => "_blank"}
                  %img{:src => "/assets/img/social/social3.png"}
                %a{:href => "https://twitter.com/tanjunmedia", :target => "_blank"}
                  %img{:src => "/assets/img/social/social4.png"}
                %a{:href => "https://vimeo.com/tanjunmedia", :target => "_blank"}
                  %img{:src => "/assets/img/social/social5.png"}


  .desktop-nav
    %ul.nav#nav1
      %li
        %a.extended{:href => "#ourReel"} Our Work
      %li
        %a{:href => "#whoWeAre"} Who we are
      %li
        %a.extended{:href => "#whatWeCreate"} What we create

    %ul.nav.navlogo
      %li
        %a{:href => "#Hero"}
          %img{:src => "/assets/img/CombinationMarkV1Pink.png"}

    %ul.nav#nav2
      %li
        %a{:href => "#whoWeWorkWith"} Our Clients
      %li
        %a{:href => "#meetTheTeam"} Our team
      %li
        %a{:href => "#getInTouch"} Get in touch


.navigation.nav-no-js{ :role => "custom-dropdown"}
  %input#button{:type => "checkbox"}/
  %label{:for => "button", :onclick => ""}

  .mobile-nav
    .outer
      .middle
        .inner
          %ul.nav
            %a.mobile-nav-link{:href => "#ourReelNav"}
              %li Our reel
            %a.mobile-nav-link{:href => "#whoWeAreNav"}
              %li Who we are
            %a.mobile-nav-link{:href => "#whatWeCreateNav"}
              %li.extended What we create
            %a.mobile-nav-link{:href => "#whoWeWorkWithNav"}
              %li Our Clients
            %a.mobile-nav-link{:href => "#meetTheTeam"}
              %li Our team
            %a.mobile-nav-link{:href => "#getInTouchNav"}
              %li Get in touch
            .mobile-nav-link
              %li.social
                %a{:href => "mailto:hello@tanjunmedia.com"}
                  %img{:src => "/assets/img/social/social1.png"}
                %a{:href => "https://www.facebook.com/tanjunmedia/", :target => "_blank"}
                  %img{:src => "/assets/img/social/social2.png"}
                %a{:href => "https://www.instagram.com/tanjunmediauk/", :target => "_blank"}
                  %img{:src => "/assets/img/social/social3.png"}
                %a{:href => "https://vimeo.com/tanjunmedia", :target => "_blank"}
                  %img{:src => "/assets/img/social/social4.png"}


  .desktop-nav
    %ul.nav#nav1
      %li
        %a.extended{:href => "#ourReel"} Our Work
      %li
        %a{:href => "#whoWeAreNav"} Who we are
      %li
        %a.extended{:href => "#whatWeCreateNav"} What we create

    %ul.nav.navlogo
      %li
        %a{:href => "#Hero"}
          %img{:src => "/assets/img/CombinationMarkV1Pink.png"}

    %ul.nav#nav2
      %li
        %a{:href => "#whoWeWorkWithNav"} Our Clients
      %li
        %a{:href => "#meetTheTeamNav"} Our team
      %li
        %a{:href => "#getInTouchNav"} Get in touch
