.section

  .lity-iframe-container.lity-hide
    %iframe{:allowfullscreen => "", :webkitallowfullscreen => "", :mozallowfullscreen => "", :frameborder => "0", :src => "https://player.vimeo.com/video/203277091"}

  %a.play-btn{"data-lity" => "", :href => "//vimeo.com/203277091"}
    %p Play

  .overlay
  %video#vid{:autobuffer => "", :autoplay => "", :video => "", :loop => ""}
    %source#webm{:src => "/assets/img/hero.webm", :type => "video/mp4"}
    %source#mp4{:src => "/assets/img/hero.mp4", :type => "video/mp4"}

