= haml :'work-sections/work_feature_section', :locals => { :color => 'blue', :header => true }
= haml :'work-sections/work_section', :locals => { :color => 'blue' }
= haml :'work-sections/work_feature_section', :locals => { :color => 'pink', :header => false }
= haml :'work-sections/work_section', :locals => { :color => 'pink' }
