.section.section-large#secondPage

  .hero-header
    %p
      Content Strategy
      %br
      %span.sub
        British Triathlon

  .overlay
  .header-image.header-image-left{ :style => "background-image: url('/assets/img/case-studies/digital-strategy/header-img.jpg')"}
