.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .eight.columns
              %p.highligh-blue
                %b British Triathlon:
                Our friends at Team GB gave us your details. We’re relaunching our entire digital brand and need some kick-ass content ideas. You in?
              %p.highligh-pink
                %b Tanjun:
                Sounds more fun than a barrel of monkeys! We’re in!
              %p.highligh-blue
                %b British Triathlon:
                Great! Can you come in and present three content ideas?
              %p.highligh-pink
                %b Tanjun:
                No! Nope, nooooo, nopey nope! We’ll do even better than that!
              %p.highligh-blue
                %b British Triathlon:
                Ok!!!
              %p.highligh-pink
                %b Tanjun:
                We’ll create a whole content strategy which will develop a solid blueprint for your entire approach to content creation.
              %p.highligh-blue
                %b British Triathlon:
                Well, i’ll be a monkey's uncle!!! That’d be awesome! You guys are the bestest!
              %p.highligh-pink
                %b Tanjun:
                Yes...yes we are! :)
