.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 80k
                %p Views
            .result-block.white
              .result
                %h5 2%
                %p
                  Engagement
                  %br Increase
            .result-block.blue
              .result
                %h5 15%
                %p
                  Followers
                  %br Increase
            .result-block.white
              .result
                %h5 5%
                %p
                  Website Traffic
                  %br Increase

