.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-head
      .mobile-header.blue-bg
        %h1
          The Solution
      .outer
        .middle
          .inner
            .row
              .tablet-header.blue-bg
                %h1
                  The Solution
            .row
              .seven.columns
                %h2 Strategy
                %p We built a complete content strategy from the ground up by deconstructing their audience into key passion points. We proposed a three tier approach to content creation which provided clarity on what needed to be made.

                %h2 Tier One:

                %p Engaging the core audience and developing the existing Triathlon community

                %h2 Tier Two:

                %p Content that is tied to passion points that would appeal beyond the core triathlon audience

      .four.offset-by-seven.columns.ksi.media-mobile
        .ksi-img
          %img.image{:src => "/assets/img/case-studies/digital-strategy/solution-1.jpeg"}

  .sub-section.sub-section-desktop
    = haml :'work-sections/bolt', :locals => { :header => true, :text => "The Solution" }

    .blue-block.blue-block-head
      .outer
        .middle
          .inner
            .row
              .seven.columns
                %h2 Strategy
                %p We built a complete content strategy from the ground up by deconstructing their audience into key passion points. We proposed a three tier approach to content creation which provided clarity on what needed to be made.

                %h2 Tier One:

                %p Engaging the core audience and developing the existing Triathlon community

                %h2 Tier Two:

                %p Content that is tied to passion points that would appeal beyond the core triathlon audience


      .four.offset-by-seven.columns.ksi
        .ksi-img
          %img.image{:src => "/assets/img/case-studies/digital-strategy/solution-1.jpeg"}

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/195614777?autoplay=1&loop=1&title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
                .sub.media-mobile
                  NEED COPY

              .seven.columns
                %h2 Tier Three:

                %p The ‘big ‘bombs’. Content executions that would go way beyond their current audience and would yield big returns.

                %h2 A little extra

                %p We also offered support in equipping and up skilling the team to create content in-house. Thus allowing content output to increase significantly leading to better engagement and community building.

                %p As a result, British Triathlon’s content had transformed their online presence and allowed them to position themselves as a leading sporting body in British sport.


  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/195614777?autoplay=1&loop=1&title=0&byline=0&portrait=0", :webkitallowfullscreen => ""}
                .sub
                  NEED COPY

              .seven.columns
                %h2 Tier Three:

                %p The ‘big ‘bombs’. Content executions that would go way beyond their current audience and would yield big returns.

                %h2 A little extra

                %p We also offered support in equipping and up skilling the team to create content in-house. Thus allowing content output to increase significantly leading to better engagement and community building.

                %p As a result, British Triathlon’s content had transformed their online presence and allowed them to position themselves as a leading sporting body in British sport.



























