.section.section-large#secondPage

  .hero-header
    %p
      National Lottery Awards
      %br
      %span.sub
        Nattional lottery

  .overlay
  .header-image{ :style => "background-image: url('/assets/img/case-studies/digital-influencer/header-img.jpg')"}
