.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 xx
                %p Views
            .result-block.white
              .result
                %h5 xx
                %p Engagement
            .result-block.blue
              .result
                %h5 xx
                %p
                  No. of
                  %br content
            .result-block.white
              .result
                %h5 xx
                %p Reach

