.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 1m
                %p Views
            .result-block.white
              .result
                %h5 250k
                %p
                  Snap Chat
                  %br views
            .result-block.blue
              .result
                %h5 1k
                %p
                  Retweets
            .result-block.white
              .result
                %h5 12k
                %p Engagement

