.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-head
      .mobile-header.blue-bg
        %h1
          The Solution
      .outer
        .middle
          .inner
            .row
              .tablet-header.blue-bg
                %h1
                  The Solution
            .row
              .seven.columns.quick-expand
                %p
                  The National Lottery Good Causes social channels aren’t the biggest so we looked to build the campaign around a digital influencer to ensure the reach needed to promote such a massive TV show.
                  %br
                  But then it struck us! What’s better than one digital influencer? Well, three of course!!
                  %br
                  Working with social media illuminati, Arron Crascall, Stuggy and Anto Sharp, we were able to reach far beyond the existing audience, effectively raising the profile of the show and driving iPlayer views.

                %p
                  Strategically we broke the content plan down into four stages:

                %h2
                  %span.small
                    Pre-show
                    \- Building excitement and engagement leading up to the shows pre-record.
                %p
                  Content included an Anto Sharp short form piece, a snapchat story of highlights from last year and a mobile optimised re-edit of Arron Crascall previous behind the scenes.

              .four.two-thirds.columns
                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/214293764?background=1", :webkitallowfullscreen => ""}

  .sub-section.sub-section-desktop
    = haml :'work-sections/bolt', :locals => { :header => true, :text => "The Solution" }

    .blue-block.blue-block-head
      .outer
        .middle
          .inner
            .row
              .seven.columns
                %p
                  The National Lottery Good Causes social channels aren’t the biggest so we looked to build the campaign around a digital influencer to ensure the reach needed to promote such a massive TV show.
                  %br
                  But then it struck us! What’s better than one digital influencer? Well, three of course!!
                  %br
                  Working with social media illuminati, Arron Crascall, Stuggy and Anto Sharp, we were able to reach far beyond the existing audience, effectively raising the profile of the show and driving iPlayer views.

                %p
                  Strategically we broke the content plan down into four stages:

                %h2
                  Pre-show
                  %span.small
                    \- Building excitement and engagement leading up to the shows pre-record.
                %p
                  Content included an Anto Sharp short form piece, a snapchat story of highlights from last year and a mobile optimised re-edit of Arron Crascall previous behind the scenes.


              .four.two-thirds.columns
                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/214293764?background=1", :webkitallowfullscreen => ""}

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/214296255?background=1", :webkitallowfullscreen => ""}
                .sub.media-mobile
                  Our bottle flip challenge really got people talking! Was it real or not! A huge debate which drove engagment.

              .seven.columns.quick-expand

                %h2
                  %span.small
                    Awards Night
                    \- Sneak peeks behind the scenes. With strong calls to action promoting the broadcast
                %p
                  This included a facebook live stream by Stuggy to over 2 million followers, a snapchat story by Arron Crascall which was viewed 100k times, plus various posts from Anto Sharp to over 1 million followers.

                %h2
                  %span.small
                    Awards Broadcast
                    \- Supplementing behind the scenes content, driving ‘second screening’
                %p
                  This saw the release of a behind the scenes 360 tour, hosted by Stuggy. A highlights compilation by Anto Sharp, a snapchat story by Stuggy and a short form piece featuring Arron Crascall.

                %h2
                  %span.small
                    Post Broadcast
                    \- Additional pieces of content designed to drive iPlayer views post broadcast
                %p
                  Our full behind the scenes film went live. This was supported by an Instagram highlights compilation by Arron Crascall, a final snapchat story featuring all highlights and three entertaining ad-hoc short form pieces.



  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/214296255?background=1", :webkitallowfullscreen => ""}
                .sub
                  Our bottle flip challenge really got people talking! Was it real or not! A huge debate which drove engagment.

              .seven.columns
                %h2
                  Awards Night
                  %span.small
                    \- Sneak peeks behind the scenes. With strong calls to action promoting the broadcast.
                %p
                  This included a facebook live stream by Stuggy to over 2 million followers, a snapchat story by Arron Crascall which was viewed 100k times, plus various posts from Anto Sharp to over 1 million followers.

                %h2
                  Awards Broadcast
                  %span.small
                    \- Supplementing behind the scenes content as the Awards were broadcast. Driving ‘second screening’ and engagement.
                %p
                  This saw the release of a behind the scenes 360 tour, hosted by Stuggy. A highlights compilation by Anto Sharp, a snapchat story by Stuggy and a short form piece featuring Arron Crascall.

                %h2
                  Post Broadcast
                  %span.small
                    \- A series of additional pieces of content designed to drive iPlayer views post broadcast.
                %p
                  Our full behind the scenes film went live. This was supported by an Instagram highlights compilation by Arron Crascall, a final snapchat story featuring all highlights and three entertaining ad-hoc short form pieces.

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns.media-mobile
                .embed-container.mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/183651482?background=1", :webkitallowfullscreen => ""}

              .seven.columns.quick-expand
                .quote.quote-long
                  “ It’s always a risk mixing mainstream celebrities with internet sensations – especially on the red carpet - but Tanjun managed to do this very successfully.  They managed to book us the holy trinity of Facebook – Arron, Anto and Stuggy and then concocted a whole series of encounters with the likes of Ainsley Harriott, Anton du Beke, Kimberley Wyatt and a host of Strictly dancers. They researched the opportunities and devised plans which they could then adapt to the situations as they arose. "
                .auth
                  — Jackie O Sullivan, Director,
                  %br National Lottery Promotions Unit




  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.offset-by-one.columns
                .quote.quote-long
                  “ It’s always a risk mixing mainstream celebrities with internet sensations – especially on the red carpet - but Tanjun managed to do this very successfully.  They managed to book us the holy trinity of Facebook – Arron, Anto and Stuggy and then concocted a whole series of encounters with the likes of Ainsley Harriott, Anton du Beke, Kimberley Wyatt and a host of Strictly dancers. They researched the opportunities and devised plans which they could then adapt to the situations as they arose. "
                .auth
                  — Jackie O Sullivan, Director,
                  %br National Lottery Promotions Unit
              .five.offset-by-one.columns
                .embed-container.mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/183651482?background=1", :webkitallowfullscreen => ""}


























