.button
  margin: 0
  width: 100%
  max-width: 20em
  display: block
  color: white
  background: $lightblue
  border-radius: 0.25em
  border: none
  font-size: 0.9em
  font-family: 'BodyBold'

.button-center
  margin: 3em auto

.button:hover
  color: white
  background: $blue

.blue-block
  .button
    background: white
    color: $lightblue

  .button:hover
    background: white
    color: $lightblue

