@font-face
  font-family: 'Feature'
  src: url('fonts/SNNeoNoire-Regular.eot')
  src: url('fonts/SNNeoNoire-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/SNNeoNoire-Regular.woff'), url('fonts/SNNeoNoire-Regular.ttf')

@font-face
  font-family: 'Body'
  src: url('fonts/FuturaLight.eot')
  src: url('fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLight.woff') format('woff'), url('fonts/FuturaLight.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'BodyBold'
  src: url('fonts/FuturaHeavy.eot')
  src: url('fonts/FuturaHeavy.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaHeavy.woff') format('woff'), url('fonts/FuturaHeavy.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Header'
  src: url('fonts/SerifGothicBQ-Heavy.eot')
  src: url('fonts/SerifGothicBQ-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/SerifGothicBQ-Heavy.woff') format('woff'), url('fonts/SerifGothicBQ-Heavy.ttf') format('truetype')
  font-weight: 500
  font-style: normal

h1
  font-family: 'Header'
  padding: 1em 0 0.5em 0
  font-size: 2.3em

p
  font-family: 'Body'
  padding: 0.7em 0
  font-size: 1.6em

.button
  font-size: 1.3em
  font-family: 'BodyBold'

h2
  font-family: 'Header'
  font-size: 2em

.blue-block
  h2, p
    color: white

.nav
  li
    a
      font-family: 'BodyBold'
      font-weight: 900
      font-size: 1.3em
      text-decoration: none

.play-btn
  p
    font-family: 'Feature'
    font-size: 8em

@media (max-width: 1800px)

  p
    font-size: 1.4em

  .button
    font-size: 1.1em

@media (max-width: 1700px)

  h1
    font-size: 1.8em

  p
    font-size: 1.2em

  .button
    font-size: 1em

  h2
    font-size: 1.6em

  .nav
    li
      a
        font-size: 1em

  .play-btn
    p
      font-size: 6em


@media (max-width: 1300px)

  h1
    font-size: 1.6em

  p
    font-size: 1em

  .button
    font-size: 0.9em

  h2
    font-size: 1.3em

  .nav
    li
      a
        font-size: 0.9em

  .play-btn
    p
      font-size: 5em

@media (max-width: 700px)

  h1
    font-size: 1.8em

  p
    font-size: 1em

  .button
    font-size: 1em

  h2
    font-size: 1.4em

@media (max-width: 550px)

  h1
    font-size: 1.6em

  h2
    font-size: 1.3em

  p
    font-size: 1em

  .button
    font-size: 0.9em



