@font-face
  font-family: 'Feature'
  src: url('fonts/SNNeoNoire-Regular.eot')
  src: url('fonts/SNNeoNoire-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/SNNeoNoire-Regular.woff'), url('fonts/SNNeoNoire-Regular.ttf')

@font-face
  font-family: 'Body'
  src: url('fonts/FuturaLight.eot')
  src: url('fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLight.woff') format('woff'), url('fonts/FuturaLight.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'BodyBold'
  src: url('fonts/FuturaHeavy.eot')
  src: url('fonts/FuturaHeavy.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaHeavy.woff') format('woff'), url('fonts/FuturaHeavy.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Header'
  src: url('fonts/SerifGothicBQ-Heavy.eot')
  src: url('fonts/SerifGothicBQ-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/SerifGothicBQ-Heavy.woff') format('woff'), url('fonts/SerifGothicBQ-Heavy.ttf') format('truetype')
  font-weight: 500
  font-style: normal

h1
  font-family: 'Header'
  padding: 1em 0 0.5em 0
  font-size: 2.3em
  letter-spacing: 0.02em

h2
  font-family: 'Header'
  font-size: 2em
  letter-spacing: 0.015em

  .small
    font-family: 'BodyBold'
    font-size: 0.8em
    letter-spacing: 0.015em

h3
  font-family: 'Header'
  font-size: 1.1em
  color: white
  margin-bottom: 0

p
  font-family: 'Body'
  padding: 0.7em 0
  font-size: 1.4em
  letter-spacing: 0.04em
  line-height: 1.8em

b
  font-family: 'BodyBold'
  letter-spacing: 0.02em


a
  color: inherit

.quote
  font-family: 'Header'
  color: white
  font-size: 1.8em
  padding: 1em 0
  letter-spacing: 0.02em

.quote-long
  font-size: 2.2em

.auth
  font-family: 'BodyBold'
  color: $pink
  font-size: 1em
  text-align: right
  letter-spacing: 0.02em

.button
  font-size: 1.3em
  font-family: 'BodyBold'
  letter-spacing: 0.06em

.result-block
  p
    text-align: center
    font-family: 'Feature'
    font-size: 0.8em
    letter-spacing: 0.1em

  h5
    font-size: 3em
    font-family: 'Feature'
    text-align: center
    letter-spacing: 0.02em

.highlight-blue,
.highlight-pink
  padding: 0
  letter-spacing: 0.02em

.blue-block
  h2, p
    color: white
    letter-spacing: 0.02em

.nav
  li
    a
      font-family: 'BodyBold'
      font-weight: 900
      font-size: 1.2em
      text-decoration: none
      letter-spacing: 0.02em

.hero-header
  p
    font-family: 'Feature'
    font-size: 7em
    letter-spacing: 0.1em
    padding: 0
    margin: 0
    line-height: 1.6em
    .sub
      font-size: 0.6em
      letter-spacing: 0.1em
      line-height: 1.7em
      font-family: 'Feature'


.play-btn
  p
    font-family: 'Feature'
    font-size: 8em
    letter-spacing: 0.02em

.sub
  font-size: 0.8em
  margin: 0
  padding: 0.4em 0 0 0
  font-family: 'BodyBold'
  color: white
  letter-spacing: 0.02em

@media (max-width: 2000px)
  .quote-long
    font-size: 1.7em

@media (max-width: 1800px)

  p
    font-size: 1.4em

  .button
    font-size: 1.1em


@media (max-width: 1700px)

  h1
    font-size: 1.8em

  p
    font-size: 1.2em

  .button
    font-size: 1em

  h2
    font-size: 1.6em

  .nav
    li
      a
        font-size: 1em

  .play-btn
    p
      font-size: 6em

  .hero-header
    p
      font-size: 5em

@media (max-width: 1300px)

  .quote-long
    font-size:  1.3em

  h1
    font-size: 1.6em

  p
    font-size: 0.95em

  .button
    font-size: 0.9em

  h2
    font-size: 1.3em

  .nav
    li
      a
        font-size: 0.9em

  .play-btn
    p
      font-size: 5em

  .hero-header
    p
      font-size: 3.3em

@media (max-width: 1000px)
  .result-block
    p
      font-size: 0.7em

    h5
      font-size: 2em

@media (max-width: 900px)

  .quote
    font-size: 1.4em

  .quote-long
    font-size: 1.1em

  .auth
    font-size: 1em

@media (max-width: 700px)

  h1
    font-size: 1.8em

  p
    font-size: 0.9em
    margin-bottom: 0.3em
    line-height: 1.6em

  .button
    font-size: 1em

  h2
    font-size: 1.4em
    margin-bottom: 0
    .small
      font-size: 0.7em
      line-height: 1.6em

  .hero-header
    p
      font-size: 2.7em

  .highlight-pink,
  .highlight-blue
    b
      padding-left: 0

@media (max-width: 650px)
  .result-block
    p
      font-size: 0.8em

@media (max-width: 550px)

  h1
    font-size: 1.6em

  h2
    font-size: 1.3em

  .button
    font-size: 0.9em

  .hero-header
    p
      font-size: 2em

  .result-block
    p
      font-size: 0.6em

    h5
      font-size: 1.6em


