html.fullpage-false
  height: auto
  overflow: scroll
  position: relative

  body
    height: auto
    overflow: scroll
    position: relative

  .page-id
    height: auto
    overflow: scroll
    position: relative

  .blue-block,
  .pink-block

    .row:first-of-type
      padding-top: 4em

    .row:last-of-type
      padding-bottom: 4em

  .blue-block.blue-block-head
    position: relative

    .ksi
      position: absolute
      top: 0


  @media (max-width: 900px)
    .blue-block.blue-block-head
      .ksi
        top: -15%

  .outer
    height: auto

  .section
    height: auto
    position: relative
    display: block
    overflow: visible

    .sub-section
      height: auto
      overflow: visible

  .section-large
    min-height: 100vh
    overflow: hidden

  .logo
    margin-top: 45vh

  .navigation
    background: $lightblue url("img/bg/clear-blue.png")

  .secondary-navigation
    z-index: 100
    background: none

  .nav
    li
      a
        color: $pink

  .outer
    position: relative

  .footer-section,
  .section-description
    height: auto

  h1
    margin-top: 2em

  .mobile-header
    height: auto
    h1
      margin: 0
      padding: 1em 4%
      margin-top: 1em


  @media (max-width: 700px)

    .navigation
      background: none
