*
  box-sizing: border-box

.row
  max-width: 2000px
  margin: 0 auto
  padding: 0 4%


@media (max-width: 2000px)
  .row
    max-width: 1600px
    margin: 0 auto
    padding: 0 4%

@media (max-width: 1200px)
  .row
    max-width: 1200px
    margin: 0 auto
    padding: 0 4%

.wide-row
  max-width: none
  padding: 0

body
  -webkit-animation: bugfix infinite 1s
  overflow: hidden
  max-width: 100%
  width: 100%

@-webkit-keyframes bugfix
  from
    padding: 0

  to
    padding: 0

.triangle
  z-index: 10
  height: 8em

.triangle-after
  position: absolute
  content: ""
  display: block
  width: 0
  height: 0
  margin-left: -100%
  border-left: 50vw solid transparent
  border-right: 50vw solid transparent

.triangle-down-after
  border-top: 8em solid white

.triangle-up-after
  border-bottom-color: $blue
  border-bottom-width: 8em
  border-bottom-style: solid

.triangle-down
  top: 0
  width: 50%
  padding-left: 50%

.triangle-up
  bottom: 0

.triangle-right
  width: 50%
  padding-left: 150%
  float: left

.triangle-left
  width: 100%
  padding-left: 50%

.svg
  width: 1.5em
  height: 1.5em
  path
    fill: white

\:focus
  outline: 0
  outline: none

a
  text-decoration: none

.header
  display: block

.mobile-header
  display: none
  color: $pink
  height: 9vh
  h1
    padding: 0.45em 4%


@media (max-width: 700px)

  .header
    display: none

  .mobile-header
    display: block

  .bolt-one-divider
    display: none
