*
  box-sizing: border-box

body
  -webkit-animation: bugfix infinite 1s
  overflow: hidden
  max-width: 100%
  width: 100%

@-webkit-keyframes bugfix
  from
    padding: 0

  to
    padding: 0

.triangle
  z-index: 10
  height: 8em

.triangle-after
  position: absolute
  content: ""
  display: block
  width: 0
  height: 0
  margin-left: -100%
  border-left: 50vw solid transparent
  border-right: 50vw solid transparent

.triangle-down-after
  border-top: 8em solid white

.triangle-up-after
  border-bottom-color: $blue
  border-bottom-width: 8em
  border-bottom-style: solid

.triangle-down
  top: 0
  width: 50%
  padding-left: 50%

.triangle-up
  bottom: 0

.triangle-right
  width: 50%
  padding-left: 150%
  float: left

.triangle-left
  width: 100%
  padding-left: 50%

.svg
  width: 1.5em
  height: 1.5em
  path
    fill: white

.play-btn
  position: absolute
  width: 100%
  top: 35vh
  z-index: 10
  text-align: center
  text-decoration: none
  p
    font-family: 'Feature'
    font-size: 6em
    color: white
