.header
  position: relative
  height: 200vh

.hero
  position: absolute
  height: 100vh
  width: 100%
  background: url("img/hero.png") no-repeat center/ cover

.hero-footer
  position: absolute
  height: 100vh
  z-index: 1
  width: 100%

  .wrap
    width: 100%
    bottom: -10em
    position: absolute

#hero-gradient
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(2, 200, 255,1)

.social
  position: fixed
  top: 7em
  right: 1em
  z-index: 3
  ul
    list-style: none
  li
    margin-bottom: 0

.reel
  height: 100vh
  z-index: 2

#play-btn
  font-family: 'Feature'
  text-align: center
  padding-top: 45vh
  color: white

.stickynav
  width: 100%
  z-index: 2
  text-align: center

.navmenu
  position: fixed

.navlogo
  top: 45vh

#logo
  width: 10em
  margin-top: -2em

.navigation
  height: 100vh
  width: 100%

.nav
  list-style: none
  display: inline-block
  margin-top: 2em
  li
    display: inline-block
    float: left
    padding: 0.5em 1.5em
    color: $pink
    font-family: 'Body'
    font-weight: bold
    font-size: 0.9em

#navbar
  background-color: rgba(2, 200, 255, 1)
  height: 6em
  position: fixed
  z-index: 2
  width: 100%
