.hero
  position: relative
  z-index: 9

.gradient
  height: 100vh
  background: url("img/hero.png") no-repeat center/ cover

.reel
  background-color: rgba(0, 0, 0, 0.1)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.play-btn
  font-family: 'Feature'
  text-align: center
  padding-top: 45vh
  color: white

.intro
  height: 100vh

.triangle
  position: absolute
  z-index: 10
  height: 8em

.triangle:after
  content: ""
  display: block
  width: 0
  height: 0
  margin-left: -100%
  border-left: 50vw solid transparent
  border-right: 50vw solid transparent

.triangle-down:after
  border-top: 8em solid $blue

.triangle-up:after
  border-bottom: 8em solid $blue

.triangle-down
  top: 0
  width: 50%
  padding-left: 50%

.triangle-up
  bottom: 0

.triangle-right
  width: 50%
  padding-left: 100%

.triangle-left
  width: 100%
  padding-left: 50%

.social
  position: fixed
  top: 15em
  right: 1em
  z-index: 10
  ul
    list-style: none
  li
    margin-bottom: 0

.svg
  width: 1.5em
  height: 1.5em
  path
    fill: white

.header
  background-color: $blue
  width: 100%
  z-index: 9
  text-align: center
  height: 5em

.affix
  position: fixed
  top: 0

.nav
  list-style: none
  display: inline-block
  margin-top: 0.5em

  li
    display: inline-block
    float: left
    padding: 0.5em 1.5em
    color: $purple
    font-family: 'Body'
    font-weight: bold
    font-size: 0.9em
    margin: 0.5em 0

  .navlogo
    margin: 0
    padding: 0 1em
    img
      width: 4.5em









