.embed-container
  position: relative
  height: 0
  overflow: hidden
  max-width: 100%
  border: 7px solid $blue
  background: black

.short
  padding-bottom: 85%

.long
  padding-bottom: 96%

.mobile
  width: 65%
  padding-bottom: 112%

.squash
  width: 90%
  margin-left: 5%
  padding-bottom: 89%

.embed-container iframe,
.embed-container object,
.embed-container embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.ksi-img
  position: relative
  height: 70vh
  img
    position: absolute
    top: 0

  .quick-stretch
    width: initial

.image-long
  width: 94%
  margin-left: 5%

.sub-section-desktop
  display: block

.sub-section-mobile
  display: none

.typer-box
  width: 100%

.typer-wrap
  width: 50%
  display: inline-block
  float: left

.typer-text
  height: 30vh
  background: $pink

.typer-image
  margin-top: 10vh
  height: 60vh
  img
    max-height: 100%
    width: initial


@media (max-width: 1100px)

  .mobile
    width: 79%
    padding-bottom: 135%

@media (max-width: 900px)
  .sub-section-desktop
    display: none

  .sub-section-mobile
    display: block

  .ksi
    height: 100%
    .ksi-img
      height: 100%
      img
        bottom: 15%
        top: inherit

  .mobile
    width: 87%
    padding-bottom: 148%

@media (max-width: 700px)
  .media-mobile
    display: none

  .sub-section-mobile
    .section
      .columns
        width: 100%

