.stat
  height: 33%
  width: 100%
  text-align: center
  margin-bottom: 3em

  .value
    font-family: 'Header'
    font-size: 4em
    line-height: 1em
    color: $pink

  .support
    font-family: 'Header'
    font-size: 1em
    color: $lightblue
    padding-left: 5em

  img
    max-width: 150px

// .stat-hidden
//   display: none
