.split-75-25
  .highlight-blue
    width: 70%
  .highlight-pink
    width: 24%
    margin-left: 5%
  .single
    margin-left: 76%


.split-50-50
  .highlight-blue
    width: 50%
  .highlight-pink
    width: 44%
    margin-left: 5%
  .single
    margin-left: 56%


.split-40-60
  .highlight-blue
    width: 40%
  .highlight-pink
    width: 54%
    margin-left: 5%

.split-60-40
  .highlight-blue
    width: 60%
  .highlight-pink
    width: 34%
    margin-left: 5%


.highlight
  display: inline-block
  text-align: left
  margin-bottom: 0

  p
    padding: 0
    margin: 0

  .brand
    display: inline
    &:before
      content: ''
      width: 2em
      height: 2em
      display: inline-block
      margin-right: 0.5em
      vertical-align: text-bottom

  .chat
    margin-left: 2.5em

.chat-block
  margin-bottom: 3em

.highlight-blue

  vertical-align: top

  .brand
    color: $lightblue
    font-family: 'BodyBold'

  b
    color: $lightblue


.lottery
  &:before
    background: url("img/case-studies/lottery-pixel.png")
    background-size: 100%

.tanjun
  &:before
    background: url("img/case-studies/tanjun-pixel.png")
    background-size: 100%

.tri
  &:before
    background: url("img/case-studies/tri-pixel.png")
    background-size: 100%

.team-gb
  &:before
    background: url("img/case-studies/team-gb-pixel.png")
    background-size: 100%

.panasonic
  &:before
    background: url("img/case-studies/panasonic-pixel.png")
    background-size: 100%


.chat
  b
    font-family: 'Feature'
    padding: 0 0.3em
    font-size: 0.7em

.problem
  position: absolute


.highlight-pink

  vertical-align: bottom
  margin-bottom: -5em

  .brand
    color: $pink
    font-family: 'BodyBold'

  b
    color: $pink

.highlight-pink.raised
  margin-bottom: -2em

@media (max-width: 800px)


  .split-75-25,
  .split-50-50,
  .split-40-60,
  .split-60-40
    .highlight
      width: 100%
      margin: 0.3em 0
      padding: 5px

    .chat-block
      margin: 0

@media (max-width: 550px)

  .highlight
    .brand
      &:before
        width: 0
        height: 0
        margin-right: 0

    .chat
      margin-left: 0
      display: inline


  .split-75-25,
  .split-50-50,
  .split-40-60,
  .split-60-40
    .highlight
      width: 100%
      margin: 0.5em 0
      padding: 7px

    .chat-block
      margin: 0



.triangle-border
  position: relative
  padding: 10px
  color: #333
  background: #F5f5f5
  // box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15)

  /* css3
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  &.left
    margin-left: 0
  &.right
    margin-right: 0
  &:before
    content: ""
    position: absolute
    bottom: -20px
    /* value = - border-top-width - border-bottom-width
    left: 40px
    /* controls horizontal position
    border-width: 20px 20px 0
    border-style: solid
    border-color: lightgrey transparent
    /* reduce the damage in FF3.0
    display: block
    width: 0
  &.left
    &:before
      top: 10px
      /* controls vertical position
      bottom: auto
      left: -30px
      /* value = - border-left-width - border-right-width
      border-width: 10px 30px 10px 0
      border-color: transparent #F5f5f5
  &.right
    &:before
      top: 10px
      /* controls vertical position
      bottom: auto
      left: auto
      right: -30px
      /* value = - border-left-width - border-right-width
      border-width: 10px 0 10px 30px
      border-color: transparent #F5f5f5



