.divider-top
  margin-top: 10em

@media (max-width: 1500px)

  .divider-top
    margin-top: 6em

@media (max-width: 1300px)

  .divider-top
    margin-top: 4em

.divider-flip
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  transform: rotate(180deg)

.bolt-one-divider
  background: url("img/bolt1.1.png") no-repeat center
  background-size: 100% 15em
  width: 100%
  height: 15em

  h1
    color: $blue
    padding: 0
    padding-top: 1em

.divider-pink
  background: url("img/bolt2.1.png") no-repeat center
  background-size: 100% 15em

  h1
    color: $pink

@media (max-width: 1800px)
  .bolt-one-divider
    background-size: 100% 10em
    width: 100%
    height: 10em

  .divider-pink
    background-size: 100% 10em

// COLOUR BLOCKS //

.blue-block
  background: $lightblue url("img/bg/clear-blue.png")
  height: 77%
  width: 100%


.pink-block
  background: $pink url("img/bg/clear-pink.png")
  height: 100%
  width: 100%

.blue-block-head
  .outer
    height: 70%

.blue-block-foot
  .outer
    height: 85%

.blue-block-long
  height: 100%
  .outer
    height: 100%
    .middle
      padding-top: 3em

@media (max-width: 900px)
  .sub-section.sub-section-mobile
    .blue-block-head,
    .blue-block-foot
      height: 101.2%

@media (max-width: 700px)

  .blue-block
    height: 100%

.pink
  color: $pink

.pink-bg
  background: $pink url("img/bg/clear-pink.png")
  h1
    color: $blue

.blue-bg
  background: $lightblue url("img/bg/clear-blue.png")

.white-bg
  background: white

.section1
  min-height: 600px

.section
  height: 100vh

.sub-section
  height: 101.2%
  overflow: hidden

.section-colums
  height: 100%

.section-icon
  display: block
  width: 100%
  text-align: center
  img
    width: 45%
    margin-bottom: 2em

@media (max-width: 2200px)
  .section-icon
    img
      max-width: 11em
      margin-bottom: 1em

@media (max-width: 1800px)
  .section-icon
    img
      max-width: 9em
      margin-bottom: 0

@media (max-width: 1000px)
  .section-icon
    img
      max-width: 7em
      margin-bottom: 0


.section-text
  display: block
  width: 100%
  text-align: center

  p
    margin-bottom: 0

  a
    margin: 0 auto
    margin-top: 1em

.section-description
  padding: 1em

.outer
  display: table
  position: absolute
  height: 100%
  height: 83vh
  width: 100%

.outer-long
  height: 100vh

@media (max-width: 700px)
  .outer
    height: 85%

.middle
  display: table-cell
  vertical-align: middle

.inner
  margin-left: auto
  margin-right: auto


@media (max-width: 700px)

  .pink
    h1
      padding-top: 0.4em

  .section-text
    h2
      margin-bottom: 0

    .button
      display: none

  .section-feature-image.columns
    width: 100%
    margin-left: 0

  .section-description
    height: 30.3vh
    padding: 0 1em
    position: relative

  .section-icon
    vertical-align: top
    padding-top: 1em
    width: 15%
    display: inline-block
    text-align: center
    img
      width: 100%
      max-width: 5em

  .section-text
    width: 80%
    display: inline-block
    padding: 0.7em
    text-align: left
    position: relative
    p, h2
      width: 95%

    h2
      height: 20%
      margin-top: 1em

    p
      height: 70%
      margin-top: 1em

    &:after
      content: ">"
      display: inline-block
      position: absolute
      top: 40%
      right: 0
      color: white

@media (max-width: 550px)
  .section-description
    padding: 0

// BOLT DIVIDER //

