- if header == true
  .row.wide-row
    .twelve.columns.section-colums
      .bolt-one-divider.divider-top
        .row
          .ten.columns
            %h1.header
              = text
      .mobile-header.blue-bg
        %h1
          = text

- if header == false
  .row.wide-row
    .twelve.columns.section-colums
      .bolt-one-divider.divider-flip
        .ten.offset-by-one.columns
