.section
  .sub-section
    .row
      .twelve.columns.section-colums
        .buffer{ :class => "buffer-#{color}"}
        .bolt-two-divider.divider-flip
    .row
      .five.offset-by-one.columns.section-image
        %img(src='/assets/img/section-image.png')
      .five.columns.section-image
        %img(src='/assets/img/section-image.png')
    .row
      .five.offset-by-one.columns
        .section-description
          .section-icon
            %img(src='/assets/img/small&nimble-blue.png')
          .section-text
            %h2 Small and Nimble
            %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
            %a.button
              View case study
      .five.columns
        .section-description
          .section-icon
            %img(src='/assets/img/small&nimble-blue.png')
          .section-text
            %h2 Small and Nimble
            %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
            %a.button
              View case study
