.outer
  .middle
    .inner
      .row
        .four.columns.section-feature-image
          %a{:href => "work/test1"}
            .section-description
              .section-icon
                %img(src='/assets/img/services/small-and-nimble.png')
              .section-text
                %h2 Small and Nimble
                %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
                %a.button
                  View case study

        .four.columns.section-feature-image
          %a{:href => "#"}
            .section-description
              .section-icon
                %img(src='/assets/img/services/big-and-bold.png')
              .section-text
                %h2 Small and Nimble
                %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
                %a.button
                  View case study

        .four.columns.section-feature-image
          %a{:href => "#"}
            .section-description
              .section-icon
                %img(src='/assets/img/services/campaigns.png')
              .section-text
                %h2 Small and Nimble
                %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
                %a.button
                  View case study
