.section
  .sub-section
    .row
      .twelve.columns.section-colums
        .bolt-one-divider.divider-top
          - if header == true
            .ten.offset-by-one.columns
              %h1
                What we create
    .row{ :class => "#{color}-block"}
      .outer
        .middle
          .inner.five.offset-by-one.columns.section-feature-image
            .section-description
              .section-icon
                %img(src='/assets/img/small&nimble-grey.png')
              .section-text
                %h2 Small and Nimble
                %p Great content can be reactive and timely. We can create and execute content solutions that allow you to join the conversation.
                %a.button
                  View case study
          .inner.six.columns.section-feature-image
            %img(src='/assets/img/section-image.png')
