.section
  .sub-section
    .mobile-header.white-bg
      %h1
        Who we are not
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          Who we are not

    .outer
      .middle
        .inner
          .row
            .newspaper
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xone.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xtwo.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xthree.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!

.section
  .sub-section
    .outer
      .middle
        .inner
          .row
            .newspaper
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xfour.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xfive.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!
              .block
                %img.image{:src => "/assets/img/meet-the-team/@1xsix.png"}
                %hr
                %h4 Charles Yaatchi - Creative Director
                %p I pop into the office a couple times a year, just to make sure people still recognise me. You’ll never get to meet me or even touch me. I have a boat!


