.section.section-large#secondPage

  .hero-header
    %p
      Superfans
      %br
      %span.sub
        Panasonic

  .overlay
  .header-image{ :style => "background-image: url('/assets/img/case-studies/campaigns/header-img.jpg')"}
