.section.section-large#secondPage

  .hero-header.hero-header-left
    %p
      The Winter Games 2018
      %br
      %span.sub
        Team GB

  .overlay
  .header-image.header-image-right{ :style => "background-image: url('/assets/img/case-studies/campaigns/header-img.jpg')"}
