.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .eight.columns
              %p.highligh-blue
                %b Panasonic:
                You guys seem alright! Wanna work on a UGC campaign for us?
              %p.highligh-pink
                %b Tanjun:
                YES! We would like that very much. Thank you!
              %p.highligh-blue
                %b Panasonic:
                Great! We want you to develop a campaign around Team GB’s ‘Superfans’. Aim is to create excitement around the support for Team GB, building up to and during the Olympic Games.
              %p.highligh-pink
                %b Tanjun:
                Well that sounds A…mazing! Any other requirements?
              %p.highligh-blue
                %b Panasonic:
                Yep! You need to put the Panasonic brand at the heart of this period of celebration and support.
              %p.highligh-pink
                %b Tanjun:
                We thought you might say that! Don’t worry! We know exactly what needs to be done here. To the Bat Cave!!
              %p.highligh-blue
                %b Panasonic:
                Errr…you have a bat cave? Maybe we’re paying you too much?
              %p.highligh-pink
                %b Tanjun:
                It’s not strictly a cave. More an office/studio thingy with an iMac and a collection of tatty 80s film memorabilia!
              %p.highligh-blue
                %b Panasonic:
                Oh!! Well, that’s disappointing!! Keep all of the money. It sounds like you need it. In fact, have some more! Now get to work monkeys!
              %p.highligh-pink
                %b Tanjun:
                Monkeys!!! To your typewriters!!
