.section.pink
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .twelve.columns.split-50-50

              .chat-block
                .highlight.highlight-blue.triangle-border.left.chat-1-1.chat-left
                  %p.brand.team-gb Team GB:
                  %p.chat
                    %b Winter 
                    is coming.
                .highlight.highlight-pink.triangle-border.right.chat-1-2.chat-right
                  %p.brand.tanjun Tanjun:
                  %p.chat
                    Haha yeah we like Game of Thrones also!!

              .chat-block
                .highlight.highlight-blue.triangle-border.left.chat-1-3.chat-left
                  %p.brand.team-gb Team GB:
                  %p.chat
                    No! Winter is coming! We’re approaching 
                    %b one year until the Winter Olympics 
                    and we want you guys to create 
                    %b all of the content 
                    for the campaign.
                .highlight.highlight-pink.triangle-border.right.chat-1-4.chat-right
                  %p.brand.tanjun Tanjun:
                  %p.chat
                    Blimey! That’s great! BTW we’ve actually never watched Game of Thrones. 

              .chat-block
                .highlight.highlight-blue.triangle-border.left.chat-1-5.chat-left
                  %p.brand.team-gb Team GB:
                  %p.chat
                    Dragons and naked girls basically, you’re not missing much! Anyway, we really want to 
                    %b ramp our content up 
                    and create the same 
                    %b buzz 
                    there is around the Summer Games.
                .highlight.highlight-pink.triangle-border.right.chat-1-6.chat-right
                  %p.brand.tanjun Tanjun:
                  %p.chat
                    No problem. Our monkeys can adapt to any climate! Let’s hit the slopes.
