.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 
                  4
                  %span.special-char .
                  3
                  %span.small m
                %p Views
            .result-block.white
              .result
                %h5 
                  97
                  %span.small k
                %p Engagement
            .result-block.blue
              .result
                %h5 
                  22
                  %span.small m
                %p Impressions
            .result-block.white
              .result
                %h5
                  .small
                    0
                    %span.special-char .
                    004
                    %span.small p 
                %p
                  per view
                  %br 
                    ROI

