.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 16k
                %p
                  Youtube
                  %br Views
            .result-block.white
              .result
                %h5 30k
                %p
                  Facebook
                  %br Views
            .result-block.blue
              .result
                %h5 252k
                %p Likes
            .result-block.white
              .result
                %p
                  Media Coverage: Future Sport / Digital Sport / Campaign / The Drum

