.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 585k
                %p Views
            .result-block.white
              .result
                %h5 5k
                %p Engagement
            .result-block.blue
              .result
                %h5 224
                %p Comments
            .result-block.white
              .result
                %h5 600
                %p Superfans
          .row
            %h2.pink.result-additional Media Coverage: Future Sport  |  Digital Sport  |  Campaign  |  The Drum


