.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-head
      .mobile-header.blue-bg
        %h1
          The Solution
      .outer
        .middle
          .inner
            .row
              .tablet-header.blue-bg
                %h1
                  The Solution
            .row
              .twelve.columns.quick-expand
                %p 
                  Our winter athletes perhaps don’t share the same profile as their summer counterparts, so the challenge was to connect the Team GB audience with a group of athletes that they previously had little knowledge of.
                  %br
                  %br
                  But before we did that, we needed to kick the campaign off with a bang….
                  %br
                  %br


                %h2
                  One Year to Go - 
                  %a.small.pink.pink{"data-lity" => "", :href => "//vimeo.com/203277091"} WATCH 
                %p
                  Team GB’s winter athletes have come a long way in the last 30 years, so we set out to tell the story of Team GB over the decades and build anticipation of this exciting new crop of athletes that were set to make history.
                  %br
                  %br 
                  This piece generated 250k organic views. An incredible result!



  .sub-section.sub-section-desktop
    = haml :'work-sections/bolt', :locals => { :header => true, :text => "The Solution" }

    .blue-block.blue-block-head
      .outer
        .middle
          .inner
            .row
              .seven.columns
                %h2 
                  Our Approach
                %p 
                  Our winter athletes perhaps don’t share the same profile as their summer counterparts, so the challenge was to connect the Team GB audience with a group of athletes that they previously had little knowledge of.
                  %br
                  %br
                  But before we did that, we needed to kick the campaign off with a bang….

      .four.offset-by-seven.columns.ksi
        .embed-container.long
          %img.image{:src => "/assets/img/case-studies/campaigns/solution-1.gif"}

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row

              .twelve.columns.quick-expand

                %h2
                  Ones to Watch
                %p 
                  We set out to build the profile of 10 specific winter athletes running up to the games. We achieved this through mobile optimised 60 second profiles that married the athlete’s own social media posts with visual effects. 
                  %br
                  These generated over 100k views each.

                .embed-container.wrapper-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/219507067?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/219507067"}
                    %img.play{:src => "../assets/img/play.png"}


                %br
                %h2
                  Path to PyeongChang - 
                  %a.small.pink{"data-lity" => "", :href => "//vimeo.com/250096692"} WATCH 
                %p
                  After we had introduced some of the key athletes we moved on to illustrating their stories whilst offering insights into their unique personalities. 

  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .six.columns
                %h2 
                  One Year to Go

                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/203277091?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/203277091"}
                    %img.play{:src => "../assets/img/play.png"}


                %p
                  %br
                  Team GB’s winter athletes have come a long way in the last 30 years, so we set out to tell the story of Team GB over the decades and build anticipation of this exciting new crop of athletes that were set to make history.
                %p
                  This piece generated 250k organic views. An incredible result!

              .five.offset-by-one.columns
                %h2
                  Ones to Watch
                %p
                  We set out to build the profile of 10 specific winter athletes running up to the games. We achieved this through mobile optimised 60 second profiles that married the athlete’s own social media posts with visual effects. 
                  %br
                  %br 
                  These generated over 100k views each.

                .embed-container.x-squash
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/219507067?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/219507067"}
                    %img.play{:src => "../assets/img/play.png"}


.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .twelve.columns.quick-expand
              
                %h2
                  Athlete Stat Cards
                %p 
                  During the games, Team GB needed to announce which individual athletes we’re competing and when. To do this we created individual stat cards for over 70 athletes that featured key stats and showcased their personality.

                .embed-container.wrapper-mobile.sort-of-short.half-width-r
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/265170168?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/265170168"}
                    %img.play{:src => "../assets/img/play.png"}

                %p.half-width-l
                  This content series was deemed to be so strong, it was sold to Aldi as a sponsorship opportunity. A landmark moment in how Team GB optimise commercial opportunities for content. 



  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row

              .five.columns
                %h2
                  Path to PyeongChang
                %p
                  After we had introduced some of the key athletes we moved on to illustrating their stories whilst offering insights into their unique personalities. 

                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/250096692?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/250096692"}
                    %img.play{:src => "../assets/img/play.png"}

              .six.offset-by-one.columns
                %h2 
                  Athlete Stat Cards

                %p.half-width-l
                  During the games, Team GB needed to announce which individual athletes we’re competing and when. To do this we created individual stat cards for over 70 athletes that featured key stats and showcased their personality.
                  %br 
                  %br
                  This content series was deemed to be so strong, it was sold to Aldi as a sponsorship opportunity. A landmark moment in how Team GB optimise commercial opportunities for content. 

                .embed-container.sort-of-short.half-width-r
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/265170168?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/265170168"}
                    %img.play{:src => "../assets/img/play.png"}


.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .twelve.columns.quick-expand
                  
                %h2
                  360 Team Announcements  - 
                  %a.small.pink{"data-lity" => "", :href => "//vimeo.com/246404832"} WATCH 
                %p
                  Team announcements leading up to the games are a key opportunity to drive awareness of the individual sports. We created an innovative solution which announced each team online through a 360 video. 

                %h2
                  Digital Displays
                %p 
                  Before, during and after the games, we produced a series of pieces that were featured on massive outdoor digital displays up and down the country. We even took over Piccadilly Circus as we welcomed home our heroes.

                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/253759404?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/253759404"}
                    %img.play{:src => "../assets/img/play.png"}

  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row

              .five.columns
                %h2
                  360 Team Announcements
                %p
                  Team announcements leading up to the games are a key opportunity to drive awareness of the individual sports. We created an innovative solution which announced each team online through a 360 video. 

                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/246404832?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/246404832"}
                    %img.play{:src => "../assets/img/play.png"}

              .six.offset-by-one.columns
                %h2 
                  Digital Displays

                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/253759404?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/253759404"}
                    %img.play{:src => "../assets/img/play.png"}

                %p
                  %br
                  Before, during and after the games, we produced a series of pieces that were featured on massive outdoor digital displays up and down the country. We even took over Piccadilly Circus as we welcomed home our heroes.



.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .twelve.columns.quick-expand

                %h2
                  Steep & Chill
                %p
                  To top it all off, we went out with a bang with a seven part series called Steep & Chill. Working with H&K and DFS, we produced a series of comedy gaming episodes. These pieces ran during and after the games bringing our athletes to a whole new audience.
                  %br
                  %br
                  The Steep & Chill series generated over 1 million views.
                  %br
                  %br
                
                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/257931219?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/257931219"}
                    %img.play{:src => "../assets/img/play.png"}

  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row

              .four.columns
                %h2
                  Steep & Chill
                %p
                  To top it all off, we went out with a bang with a seven part series called Steep & Chill. Working with H&K and DFS, we produced a series of comedy gaming episodes. These pieces ran during and after the games bringing our athletes to a whole new audience.

                  %br
                  %br
                  The Steep & Chill series generated over 1 million views.

              .seven.offset-by-one.columns
                
                .embed-container.x-short
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/257931219?background=1", :webkitallowfullscreen => ""}
                  %a.overlay{"data-lity" => "", :href => "//vimeo.com/257931219"}
                    %img.play{:src => "../assets/img/play.png"}


















