.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-head
      .mobile-header.blue-bg
        %h1
          The Solution
      .outer
        .middle
          .inner
            .row
              .tablet-header.blue-bg
                %h1
                  The Solutios
            .row
              .seven.columns
                %h2
                  Nuke’em
                %p
                  At pitch stage, we provided a strategic approach nicknamed ‘nuke’em’. This was a ‘balls to wall’ approach that looked to invite the audience to express their support for Team GB in a multitude of ways.

                %p
                  We split the UGC options into two separate categories, high commitment and low commitment. This allowed light touch participation as well as more elaborate efforts, giving the audience the ability to decide how they wished to interact with Team GB.

                %h2
                  Launch
                %p
                  We kicked off the campaign by creating a self aware ‘walk & talk’ launch piece with Gold Medalist Amy Williams. This was built around the multiple UGC that Team GB fans could create to demonstrate their Superfan status.


      .four.offset-by-seven.columns.ksi.media-mobile
        .ksi-img
          %img.image{:src => "/assets/img/case-studies/campaigns/solution-1.png"}

  .sub-section.sub-section-desktop
    = haml :'work-sections/bolt', :locals => { :header => true, :text => "The Solution" }

    .blue-block.blue-block-head
      .outer
        .middle
          .inner
            .row
              .seven.columns
                %h2
                  Nuke’em
                %p
                  At pitch stage, we provided a strategic approach nicknamed ‘nuke’em’. This was a ‘balls to wall’ approach that looked to invite the audience to express their support for Team GB in a multitude of ways.

                %p
                  We split the UGC options into two separate categories, high commitment and low commitment. This allowed light touch participation as well as more elaborate efforts, giving the audience the ability to decide how they wished to interact with Team GB.

                %h2
                  Launch
                %p
                  We kicked off the campaign by creating a self aware ‘walk & talk’ launch piece with Gold Medalist Amy Williams. This was built around the multiple UGC that Team GB fans could create to demonstrate their Superfan status.

      .four.offset-by-seven.columns.ksi
        .ksi-img
          %img.image{:src => "/assets/img/case-studies/campaigns/solution-1.png"}

.section
  .sub-section.sub-section-mobile
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long.media-mobile
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/195614777?background=1", :webkitallowfullscreen => ""}
                .sub.media-mobile
                  NEED COPY

              .seven.columns
                %h2
                  The Campaign
                %p
                  As part of the campaign we filmed with some of Team GB’s Superfans, created a ‘How To’ series and a film of Team GB athletes expressing their thanks to the Superfans with some fine lip syncing skills.
                %p
                  All of this content was pulled together into a central campaign page on Team GB’s website https://www.teamgb.com/superfans.
                %p
                  We wrapped the campaign by creating a Social Media wall animation that showcased all of the incredible content produced by fans as part of the campaign.
                %p
                  Phew!


  .sub-section.sub-section-desktop
    .blue-block.blue-block-long
      .outer
        .middle
          .inner
            .row
              .five.columns

                .embed-container.long
                  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/195614777?background=1", :webkitallowfullscreen => ""}
                .sub
                  NEED COPY

              .seven.columns
                %h2
                  The Campaign
                %p
                  As part of the campaign we filmed with some of Team GB’s Superfans, created a ‘How To’ series and a film of Team GB athletes expressing their thanks to the Superfans with some fine lip syncing skills.
                %p
                  All of this content was pulled together into a central campaign page on Team GB’s website https://www.teamgb.com/superfans.
                %p
                  We wrapped the campaign by creating a Social Media wall animation that showcased all of the incredible content produced by fans as part of the campaign.
                %p
                  Phew!























