.section.section-large#secondPage

  .hero-header
    %p
      Every youtube challenge ever
      %br
      %span.sub
        National lottery good causes

  .overlay
  .header-image.header-image-right{ :style => "background-image: url('/assets/img/case-studies/big-and-bold/header-img.jpg')"}
