.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .twelve.columns
              %p.highlight.highlight-blue.triangle-border.left
                %span.chat The National Lottery:
                Hey Tanjun
              %p.highlight.highlight-pink.triangle-border.right
                %span.chat Tanjun:
                Hey guys
              %p.highlight.highlight-blue.triangle-border.left
                %span.chat The National Lottery:
                Can you communicate the message that over
                %b 1,300
                British athletes are funded by The National Lottery, making them some of the best athletes in the world?
              %p.highlight.highlight-pink.triangle-border.right
                %span.chat Tanjun:
                Yeah, no worries!
              %p.highlight.highlight-blue.triangle-border.left
                %span.chat The National Lottery:
                Yeah, BTW, can you communicate it to a completely new
                %b young audience
                that thinks The National Lottery was created in the
                %b early 18th centenary
                by some ‘old dudes’.
              %p.highlight.highlight-pink.triangle-border.right
                %span.chat Tanjun:
                Ha! Young people hey, lol. Yep, no worries.
              %p.highlight.highlight-blue.triangle-border.left
                %span.chat The National Lottery:
                Also, can you raise awareness that as well as athletes, The National Lottery pretty much funds every cool thing ever, across the UK. In fact, can you also communicate the fact we have funded over
                %b 500k projects.
              %p.highlight.highlight-pink.triangle-border.right
                %span.chat Tanjun:
                Right! Yeah, we’ll add that to the list.
              %p.highlight.highlight-blue.triangle-border.left
                %span.chat The National Lottery:
                Great, thank you!
              %p.highlight.highlight-pink.triangle-border.right
                %span.chat Tanjun:
                You’re welcome


            / .four.columns
            /   .stat.stat-one.stat-hidden
            /     .value 1,300
            /     .support British athletes
            /   .stat.stat-two.stat-hidden
            /     %img.image{:src => "/assets/img/case-studies/big-and-bold/old-dudes.png"}
            /   .stat.stat-three.stat-hidden
            /     .value 500k
            /     .support projects

/ .section
/   .sub-section
/     .outer
/       .middle
/         .inner

/           .row
/             .six.offset-by-six.columns
/               %p.highlight-blue.triangle-border.left
/                 %span.chat The National Lottery:
/                 Oh, one other thing…
/               %p.highlight-pink.triangle-border.right
/                 %span.chat Tanjun:
/                 Yeah, sure, go for it!
/               %p.highlight-blue.triangle-border.left
/                 %span.chat The National Lottery:
/                 You’ll need to also generate over 2 million views and help shift the perception of the National Lottery to a more playful, confident and self-aware brand as well as driving significant engagement across our new social channels.
/               %p.highlight-pink.triangle-border.right
/                 %span.chat Tanjun:
/                 Errr, yep, we can do that!!!!! Nooooo problem!!!
