.section.pink
  .sub-section
    .mobile-header.white-bg
      %h1
        The Challenge
    .row.desktop-header
      .ten.columns
        %h1.header
          The Challenge
    .outer
      .middle
        .inner
          .row
            .nine.columns.split-75-25

              .chat-block
                .highlight.highlight-blue.triangle-border.left
                  %p.brand The National Lottery:
                  %p.chat Hey! Can you communicate that over 1,300 British athletes are funded by The National Lottery, making them some of the best athletes in the world?
                .highlight.highlight-pink.triangle-border.right
                  %p.brand Tanjun:
                  %p.chat Hell yeah we can! No worries!

              .chat-block
                .highlight.highlight-blue.triangle-border.left
                  %p.brand The National Lottery:
                  %p.chat Awesome! Can you communicate it to a completely new young audience that thinks The National Lottery was created in the early 18th centenary by some ‘old dudes’.
                .highlight.highlight-pink.triangle-border.right
                  %p.brand Tanjun:
                  %p.chat Ha! Young people hey, lol. Yep, no worries.

              .chat-block
                .highlight.highlight-blue.triangle-border.left
                  %p.brand The National Lottery:
                  %p.chat Also, can you raise awareness that as well as athletes, The National Lottery pretty much funds every cool thing ever across the UK.

.section
  .sub-section
    .outer
      .middle
        .inner

          .row
            .nine.columns.split-75-25

              .chat-block
                .highlight.highlight-pink.triangle-border.right.single
                  %p.brand Tanjun:
                  %p.chat Right! Yeah, we’ll add that to the list.

              .chat-block
                .highlight.highlight-blue.triangle-border.left
                  %p.brand The National Lottery:
                  %p.chat Oh, one other thing…
                .highlight.highlight-pink.triangle-border.right
                  %p.brand Tanjun:
                  %p.chat Yeah, sure, go for it!

              .chat-block
                .highlight.highlight-blue.triangle-border.left
                  %p.brand The National Lottery:
                  %p.chat You’ll need to also generate over 2 million views and help shift the perception of the National Lottery to a more playful, confident and self-aware brand as well as driving significant engagement across our new social channels.
                .highlight.highlight-pink.triangle-border.right
                  %p.brand Tanjun:
                  %p.chat  *gulp* Consider it done!

