.section
  .sub-section
    .mobile-header.white-bg
      %h1
        The Results
    .row.desktop-header
      .twelve.columns
        %h1.header.blue
          The Results
    .outer
      .middle
        .inner
          .row
            .result-block.blue
              .result
                %h5 2m
                %p Views
            .result-block.white
              .result
                %h5 4k
                %p Comments
            .result-block.blue
              .result
                %h5 146k
                %p Likes
            .result-block.white
              .result
                %h5 10k
                %p
                  Behind the
                  %br scenes

