.section.section-large#secondPage

  .hero-header
    %p
      Short Form Content

  .overlay
  .header-image{ :style => "background-image: url('/assets/img/case-studies/big-and-bold/header-img.jpg')"}
