.section
  .slider
    .slide
      .row.wide-row
        .six.columns.large-column
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215998520"}
                .clickable-area
                  %h1
                    Spoken Word Lottery Win
            .background-image.image-spoken-word

        .three.columns
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215175022"}
                .clickable-area
                  %h1
                    Tri In 30 Seconds
            .background-image.image-tri

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215997825"}
                .clickable-area
                  %h1
                    Athlete body paint - Max
            .background-image.image-max-body-paint

        .three.columns.image-flatten
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/212727624"}
                .clickable-area
                  %h1
                    3D award
            .background-image.image-max-3d
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/214291312"}
                .clickable-area
                  %h1
                    Olympics prep camp
            .background-image.image-prep-camp


    .slide
      .row.wide-row
        .three.columns
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/214296255"}
                .clickable-area
                  %h1
                    Arron Crascall Harmony
            .background-image.image-arron

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215997474"}
                .clickable-area
                  %h1
                    Athlete body paint - Rowers
            .background-image.image-body-paint-rowers

        .six.columns.large-column
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/205556742"}
                .clickable-area
                  %h1
                    Nectar brands
            .background-image.image-nectar

        .three.columns.image-flatten

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215996344"}
                .clickable-area
                  %h1
                    damtdm contest win
            .background-image.image-dantdm-leif

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215995989"}
                .clickable-area
                  %h1
                    damtdm contest win
            .background-image.image-dantdm-betsy

    .slide
      .row.wide-row
        .three.columns
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/180050387"}
                .clickable-area
                  %h1
                    damtdm contest win
            .background-image.image-dantdm-siam

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/214290937"}
                .clickable-area
                  %h1
                    Olympics Dive
            .background-image.image-dive

        .six.columns.large-column
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/215997614"}
                .clickable-area
                  %h1
                    Athlete body paint - high jump
            .background-image.image-body-paint-high-jump

        .three.columns.image-flatten
          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/212110006"}
                .clickable-area
                  %h1
                    Mini world Mad Max
            .background-image.image-mini-mad-max

          .image-wrap
            .overlay.small-overlay
              %a{"data-lity" => "", :href => "//vimeo.com/212727768"}
                .clickable-area
                  %h1
                    Max Whitlock Handstand
            .background-image.image-max-headstand





